{% extends 'mysite/base.html' %}

{% load staticfiles %}

{% block styleblock %}
{% endblock %}

{% block title %} Sobre {% endblock %}

{% block body_block %}

{{ state }}

  {% if next %}
    <form action="/mysite/about/?next={{next}}" method="post" >
  {% else %}
    <form action="/mysite/about/" method="post" >
  {% endif %}

      <div>
          <h4 style="color:#999999;"><strong>Matérias</strong></h4>
        <ul class="nav nav-list">
          <li><label class="tree-toggle nav-header">Bootstrap</label>
            <ul class="nav nav-list tree">
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">CSS</a></li>
            </ul>
          </li>
        </ul>
      </div>

  <!-- Begin page content -->
  <div class="container">
      <div class="page-header">
          <!--h1>Sobre o IX Sipem</h1-->
      </div>
      <p class="lead">
       The main contributor of this site is Marcos Lourenço, professor at the
       Academic Department of Mechanical Engineering, (DAMEC), UTFPr-Cornélio
       Procópio, which focuses on numerical techniques for parallel fluid
       dynamics simulations. Additional information can be found in this <a href="http://paginapessoal.utfpr.edu.br/mlourenco">link</a>.
      </p>
  </div>

{% endblock %}


