{% extends 'mysite/base.html' %}

{% load staticfiles %}

{% block title %} {{block_name}} {% endblock %}

{% block body_block %}

<div class="container" style="margin-top:5px">
  <div class="page-header page-heading">
    <!--h1 class="pull-left">{-{ post_name }}</h1>
    <ol class="breadcrumb pull-right where-am-i">
      <li><a href="#">{-{post_name}}</a></li>
      <li class="active">List of topics</li>
    </ol-->
    <div class="clearfix"></div>
  </div>
  <p class="lead">This is a personal homepage. Here, there are some shared projects,
  thoughts and ideas. This site also contains material and others stuffs for a
  few lectures in fluid mechanics, thermal sciences, and energy areas.</p>
  <table class="table forum table-striped">
    <thead>
      <tr>
        <th class="cell-stat"></th>
        <th>
          <h3>Posts</h3>
        </th>
        <th class="cell-stat-2x hidden-xs hidden-sm">Date</th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
        <td>
          <h4><a href="blog/{{ post.id }}">{{ post.title }}</a><br>{{ post.descr }}</h4>
        </td>
        <td class="hidden-xs hidden-sm"><i class="fa fa-clock-o">{{ post.date|date:"d-m-Y" }}</i></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
 
</div>

{% endblock %}
