
<div class="container" style="padding-top: 60px;">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i> Product settings
            <span class="label label-danger pull-right"> <i class="fa fa-database fa-fw"></i> Product Administration</span></div>
        <div class="panel-body">
            <div class="col-xs 12 col-sm-5 col-md-5">
                <span class="label label-danger"><i class="fa fa-truck fa-fw"></i> Delivery options</span>
                <p></p>
                <div class="radio">
                    <label>
                        <input name="optionsRadioBPSETC" id="BPBAC_RADIO" value="option1" checked="" type="radio"> PPL
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input name="optionsRadioBPSETC" id="BPBABA_RADIO" value="option2" checked="" type="radio"> British Post
                    </label>
                </div>
                <div class="form-group">
                    <label for="form-control" id="BPBABAN_LABEL"> Option</label>
                    <select class="form-control" id="BPBABAN_SELECT">
                        <option>Someting</option>
                        <option>Test option</option>
                        <option>Another option</option>
                    </select>
                </div>
                <div class="radio">
                    <label>
                        <input name="optionsRadioBPSETC" id="BPBAM_RADIO" value="option3" checked="" type="radio"> Checked thingy
                    </label>
                </div>
                <div class="form-group">
                    <label for="form-control" id="BPBAMN_LABEL">Maker</label>
                    <select class="form-control" id="BPBAMN_SELECT">
                        <option>Bosch</option>
                        <option>Mercedes</option>
                        <option>BMW</option>
                    </select>
                </div>
                <div class="form-group">
                    <label> Description</label>
                    <textarea class="form-control" id="BPBAHW_TEXTAREA" rows="3">Place some awesome text here</textarea>
                </div>
            </div>
            <!--/.column -->
            <div class="col-xs 12 col-sm-7 col-md-7">
                <span class="label label-danger"><i class="fa fa-cogs fa-fw"></i>Payment methods</span>
                <div class="checkbox">
                    <label>
                        <input id="BPPMV_CHECK" value="" type="checkbox"> PayPal
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="BPPMC_CHECK" value="" type="checkbox"> Bank Wire
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="BPPMM_CHECK" value="" type="checkbox"> Credit Card (Visa, MasterCard)
                    </label>
                </div>
                <div class="form-group">
                    <label> Notes</label>
                    <textarea class="form-control" id="BPPMHW_TEXTAREA" rows="3"> Place some notes here</textarea>
                </div>

                <div class="form-group">
                    <label> Product images</label>
                    <div class="row">
                        <img class="img-responsive col-sm-6" src="http://lorempixel.com/200/100/cats/?1" alt="The awesome description">
                        <img class="img-responsive col-sm-6" src="http://lorempixel.com/200/100/cats/?2" alt="The awesome description">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

